<div class="container" id="main-container">
  <form class="forn-search">
    <input class="form-search" type="search" (ngModelChange)="searchClassroom(input.value)" #input="ngModel" ngModel
    name="input" placeholder="Search..." aria-label="Search">
      <!-- When user click on Add new button will open Add modal -->
    <button type="button" class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#addStudentModal">Add</button>
  </form>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Faculty</th>
            <!-- <th scope="col">Faculty</th> -->
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- repeat <tr> tag with *ngFor loop to get all student -->
          <tr class ="table-tr-hover" *ngFor ="let classroom of listClassroom">
            <td>{{classroom.id}}</td>
            <td>{{classroom.name}}</td>
            <td>{{classroom.faculty.name}}</td>
            <!-- <td>{{student.classroom.faculty.name}}</td> -->
            <td>
              <!-- Delete Modal -->
              <!-- When user click on Delete button. data student will pass into getInfoStudent in function getStudent and open Delete modal -->
              <!-- data-bs-target attribute must equal to id attribute in modal-->
              <button  (click)= "getClassroom(classroom)" class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#deleteStudentModal">Delete</button>
              <!-- Edit Modal -->
              <!-- When user click on Edit button. data student will pass into getInfoStudent in function getStudent and open Edit modal -->
              <button (click)= "getClassroom(classroom)" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editStudentModal">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Classroom</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- use "ngForm" to perform the form in angular meaned is #addForm  -->
            <!-- ngModel with name attribute put data into addForm to perform JSON data request into backend -->
            <!-- When Save changes button is click, call (ngSubmit) = function onAddStudent(addFrom) -->
              <form #addForm="ngForm" (ngSubmit) = "addClassroom(addForm)">
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                    <label for="faculty">Faculty</label>
                    <select class="form-select" ngModel name ="facultyId" aria-label="Default select example" required>
                      <option  value ="" selected disabled hidden>Choose a faculty</option>
                      <option  *ngFor= "let faculty of listFaculty" [ngValue] = "faculty?.id">{{faculty?.name}}</option>
                    </select>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id = "add-classroom-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Open modal to get data student just clicked button above and pass {{name}} (Delete)-->
        <p>Are you sure want to delete faculty of {{classroom?.name}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-no-delete" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <!-- Open modal to get data student just clicked button above and pass {{id}} into function onDeleteStudent({{id}}) -->
        <button (click) = "deleteClassroom(classroom?.id)"  type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="editStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
          <div class="form-group">
              <label for="name">Name</label>
               <!-- use "ngForm" to perform the form in angular meaned is #updateForm  -->
              <!-- ngModel {{student.attribute}} with name attribute put data into #updateForm to perform data of student -->
              <input type="text"  ngModel={{classroom?.name}} name ="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <!-- hidden button with id of student-->
          <input type="hidden" ngModel={{classroom?.id}} name ="id" class="form-control" id="id">
          <div class="form-group">
            <label for="faculty">Faculty</label>
            <select class="form-select" ngModel name ="facultyId" aria-label="Default select example" required>
              <option  value ="" selected disabled hidden>{{classroom?.faculty?.name}}</option>
              <option  *ngFor= "let faculty of listFaculty" [ngValue] = "faculty?.id">{{faculty?.name}}</option>
            </select>
          </div>
          <div class="modal-footer">
              <button type="button" id="btn-edit-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- Form get all ngModel and passed into function UpdateClassroom(updateform) -->
              <button  (click)="updateClassroom(updateForm)" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

