<header class="masthead" id="header">
  <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-9 align-self-end">
              <h1 class="text-white font-weight-bold">Student Management Web Application Fullstack | Spring Boot | Angular |</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <a class="btn btn-started btn-xl" (click)=" getStarted()" >Get started</a>
        </div>
      </div>
  </div>
</header>

