<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-router">
  <div class="container-fluid">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
         <a class="nav-link" routerLink='/menu/student'>Student</a>
      </li>
    </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink='/menu/classroom'>Classroom</a>
        </li>
      </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/menu/faculty'>Faculty</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink='/menu/course'>Course</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink='/menu/result'>Result</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink='/menu/library-card'>Library Card</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
